.flexivel {
    display: flex;
}

.abaa {
    background-color: #d9e9fd;
    border-radius: 16px;
    margin: 10px;
    width: 750px;
    height: 245px;
}

.abab {
    background-color: #d9e9fd;
    border-radius: 16px;
    margin: 10px;
    width: 475px;
}

.robo {
    max-width: 200px;
}

.opc {
    
}

div {
    margin: 10px;
}